body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#glb-container {
    position: absolute;
    z-index: 2;
    width: 50%;
    left: 25%;
}

#text-container {
    position: absolute;
    z-index: 3;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000000;
}