body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#text-container {
    position: absolute;
    z-index: -1;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:0px;
    bottom:0px;
    left:10px;
    right:10px;
}